.App {
  min-height: 60vh;
  margin: 0 3rem;

  text-align: center;
}
.Home{
  min-height: 60vh;
  margin: 0 3rem;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.Login {
  min-height: 60vh;
  margin: 0 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
.SignUp{
  min-height: 60vh;
  margin: 0 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.CreatePostPage {
  min-height: 60vh;
  margin: 0 3rem;

  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.PostPage {
  padding: 0 10rem;
}
input{
  outline: none;
}

body {

}

.Indicator{
  position: absolute;
  left: 50%;
  top: 50%;
}

textarea {
  resize: none;
}